.footer {
  background: var(--color-bg-variant);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
  border-top: 1px solid var(--color-border);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-text);
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.footer__links a {
  color: var(--color-text);
  transition: var(--transition);
}

.footer__links a:hover {
  color: var(--color-primary);
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-text);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  transition: var(--transition);
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
  transform: translateY(-5px);
}

.footer__copyright {
  color: var(--color-text-light);
}