.hero {
  padding-top: 8rem;
  text-align: center;
  background: var(--color-bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.hero__content {
  text-align: left;
}

.typewriter-name {
  font-size: 3rem;
  margin: 0.5rem 0;
  color: var(--color-text);
  min-height: 4rem;
  display: flex;
  align-items: center;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: var(--color-primary);
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.hero__content h1 {
  font-size: 3.5rem;
  color: var(--color-text);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero__content h3 {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-weight: 500;
}

.hero__content p {
  color: var(--color-text-light);
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
  max-width: 600px;
  line-height: 1.7;
}

.hero__cta {
  display: flex;
  gap: 1.2rem;
}

.hero__image {
  background: linear-gradient(45deg, var(--color-primary), transparent);
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2rem;
  border: 0;
  position: relative;
  transition: var(--transition);
}

.hero__image:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .hero__container {
    grid-template-columns: 1fr;
    gap: 4rem;
    text-align: center;
  }

  .hero__content {
    text-align: center;
    order: 2;
  }

  .typewriter-name {
    justify-content: center;
  }

  .hero__content p {
    margin: 0 auto 2.5rem;
  }

  .hero__cta {
    justify-content: center;
  }

  .hero__image {
    order: 1;
    max-width: 320px;
  }
}

@media screen and (max-width: 600px) {

  .hero__content h1,
  .typewriter-name {
    font-size: 2.5rem;
  }

  .hero__cta {
    flex-direction: column;
    gap: 1rem;
  }

  .hero__image {
    max-width: 280px;
  }
}